{% load static %}
<div class="deznav">
  <div class="deznav-scroll">
    <ul class="metismenu" id="menu">
      <li>
        <a href="{% url 'welly:index' %}" class="ai-icon" aria-expanded="false">
          <i class="fas fa-chart-column"></i>
          <span class="nav-text">Dashboard</span>
        </a>
      </li>
      <li>
        <a href="{% url 'welly:work-list' %}" class="ai-icon" aria-expanded="false">
          <i class="flaticon-381-notepad"></i>
          <span class="nav-text">Work List</span>
        </a>
      </li>
      <li>
        <a href="{% url 'welly:notifications' %}" class="ai-icon" aria-expanded="false">
          <i class="fa-solid fa-bell"></i>
          <span class="nav-text">Notifications</span>
        </a>
      </li>
    </ul>
  </div>
</div>