{% extends 'welly/elements/layouts/admin.html' %}
{% load static %}

{% block additional_css %}
<style>
    .box-shadow {
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
    }
</style>
{% endblock %}

{% block content %}
<!--**********************************
	Content body start
***********************************-->
<div class="content-body">
    <!-- row -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-7 col-sm-12">
                <h4>Chart and Querie Status</h4>
                <div class="card mb-0 p-4 justify-content-center box-shadow">
                    <div class="row">
                        <div class="col-sm-6">
                            <canvas id="dounghtChart1"></canvas>
                        </div>
                        <div class="col-sm-6 mt-sm-0 mt-5">
                            <canvas id="dounghtChart2"></canvas>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-5 col-sm-12 mt-xl-0 mt-3">
                <div class="d-xl-block d-flex flex-md-row flex-column">
                    <div class="col pe-xl-0 pe-md-3 pe-0">
                        <h4>Charts Financials Details</h4>
                        <div class="bg-white p-3 box-shadow">
                            <div class="d-flex flex-column text-center">
                                <div>
                                    <h5 class="h1 fw-bold">101,222,000 AED</h5>
                                    <p>All Charts Cost</p>
                                </div>
                                <div class="d-flex border-top border-3 border-dark">
                                    <div class="col border-end border-3 border-dark">
                                        <h5 class="mt-3 h1 fw-bold">28,395,000 AED</h5>
                                        <p class="mb-0">Potential Savings</p>
                                    </div>
                                    <div class="col">
                                        <h5 class="mt-3 h1 fw-bold">1,843,000 AED</h5>
                                        <p class="mb-0">Potential Uncovered</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col ps-xl-0 ps-md-3 ps-0">
                        <h4 class="mt-xl-3 mt-md-0 mt-3">Charts and Queries Counts</h4>
                        <div class="bg-white p-3 box-shadow">
                            <div class="d-flex flex-column text-center">
                                <div>
                                    <h5 class="h1 fw-bold">7892 Chart</h5>
                                    <p>All Charts Cost</p>
                                </div>
                                <div class="d-flex border-top border-3 border-dark">
                                    <div class="col border-end border-3 border-dark">
                                        <h5 class="mt-3 h1 fw-bold">4,735 Chart</h5>
                                        <p class="mb-0">Charts Reviewed</p>
                                    </div>
                                    <div class="col">
                                        <h5 class="mt-3 h1 fw-bold">3,156 Query</h5>
                                        <p class="mb-0">Queries Closed</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="my-5">
            <h4>Facility Status</h4>
            <div class="bg-white box-shadow">
                <canvas id="barChart"></canvas>
            </div>
        </div>
        <div class="my-5">
            <h4>Chart Receive Status</h4>
            <div class="bg-white box-shadow">
                <canvas id="areaChart"></canvas>
            </div>
        </div>
        <div class="my-5">
            <h4>Flagged Table Status</h4>
            <div class="d-flex flex-wrap mb-3">
                <div class="mb-3 me-3 px-0 border border-2 border-dark flex-fill">
                    <div class="d-flex justify-content-between bg-dark text-white p-2">
                        <span>Flagged Medical Necessity</span>
                        <span>#</span>
                    </div>
                    <div class="service-list">
                        <div class="d-flex justify-content-between p-2 border-top border-2 border-dark">
                            <span>Service1</span>
                            <span>120</span>
                        </div>
                        <div class="d-flex justify-content-between p-2 border-top border-2 border-dark">
                            <span>Service2</span>
                            <span>101</span>
                        </div>
                        <div class="d-flex justify-content-between p-2 border-top border-2 border-dark">
                            <span>Service3</span>
                            <span>89</span>
                        </div>
                        <div class="d-flex justify-content-between p-2 border-top border-2 border-dark">
                            <span>Service4</span>
                            <span>77</span>
                        </div>
                        <div class="d-flex justify-content-between p-2 border-top border-2 border-dark">
                            <span>Service5</span>
                            <span>56</span>
                        </div>
                    </div>
                </div>
                <div class="mb-3 me-3 px-0 border border-2 border-dark flex-fill">
                    <div class="d-flex justify-content-between bg-dark text-white p-2">
                        <span>Flagged Medical Necessity</span>
                        <span>#</span>
                    </div>
                    <div class="service-list">
                        <div class="d-flex justify-content-between p-2 border-top border-2 border-dark">
                            <span>Service1</span>
                            <span>120</span>
                        </div>
                        <div class="d-flex justify-content-between p-2 border-top border-2 border-dark">
                            <span>Service2</span>
                            <span>101</span>
                        </div>
                        <div class="d-flex justify-content-between p-2 border-top border-2 border-dark">
                            <span>Service3</span>
                            <span>89</span>
                        </div>
                        <div class="d-flex justify-content-between p-2 border-top border-2 border-dark">
                            <span>Service4</span>
                            <span>77</span>
                        </div>
                        <div class="d-flex justify-content-between p-2 border-top border-2 border-dark">
                            <span>Service5</span>
                            <span>56</span>
                        </div>
                    </div>
                </div>
                <div class="mb-3 me-3 px-0 border border-2 border-dark flex-fill">
                    <div class="d-flex justify-content-between bg-dark text-white p-2">
                        <span>Flagged Medical Necessity</span>
                        <span>#</span>
                    </div>
                    <div class="service-list">
                        <div class="d-flex justify-content-between p-2 border-top border-2 border-dark">
                            <span>Service1</span>
                            <span>120</span>
                        </div>
                        <div class="d-flex justify-content-between p-2 border-top border-2 border-dark">
                            <span>Service2</span>
                            <span>101</span>
                        </div>
                        <div class="d-flex justify-content-between p-2 border-top border-2 border-dark">
                            <span>Service3</span>
                            <span>89</span>
                        </div>
                        <div class="d-flex justify-content-between p-2 border-top border-2 border-dark">
                            <span>Service4</span>
                            <span>77</span>
                        </div>
                        <div class="d-flex justify-content-between p-2 border-top border-2 border-dark">
                            <span>Service5</span>
                            <span>56</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--**********************************
	Content body end
***********************************-->
{% endblock %}
{% block additional_js %}
{% endblock %}